@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
body{
    background: #662222;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.envelope{
    position: relative;
    top: 0px;
    left: 0px;
    height: 200px;
    width: 370px;
    background: #f5daa7;
    border: 4px solid #c4b394;
}
.panel{
    position: absolute;
    top: 0px;
    left: -4px;
    height: 125px;
    width: 378px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background: inherit;
    transform: rotateY(0deg);
    z-index: 11;
    animation: move 1100ms forwards;
    animation-play-state: paused;
}
.l1{
    position: absolute;
    top: 58px;
    left: -21px;
    height: 5px;
    width: 225px;
    background: #c4b394;
    transform: rotate(33.5deg);
    z-index: 111;
}
.l2{
    position: absolute;
    top: 59px;
    left: 165px;
    height: 5px;
    width: 225px;
    background: #c4b394;
    transform: rotate(-33.5deg);
    z-index: 111;
}
.down{
    position: absolute;
    top: 76px;
    left: -4px;
    height: 125px;
    width: 378px;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    background: inherit;
    z-index: 111;
}
.l3{
    position: absolute;
    top: 60px;
    left: -26px;
    height: 5px;
    width: 245px;
    background: #c4b394;
    transform: rotate(146.5deg);
}
.l4{
    position: absolute;
    top: 62px;
    left: 160.5px;
    height: 5px;
    width: 247px;
    background: #c4b394;
    transform: rotate(213.5deg);
}
.right{
    position: absolute;
    top: 2px;
    left: 0px;
    height: 196px;
    width: 148px;
    background: inherit;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    z-index: 11111;
}
.left{
    position: absolute;
    top: 2px;
    left: 224px;
    height: 198px;
    width: 150px;
    background: inherit;
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
    z-index: 11111;
}
#open:checked ~ .panel{
    animation-play-state: running;
}
#open{
    display: none;
}
.seal{
    position: absolute;
    top: 86px;
    left: 165px;
    height: 50px;
    width: 50px;
    background: red;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1111111;
}
.seal::before{
    content: '';
    display: block;
    position: absolute;
    top: -25px;
    left: 0px;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    z-index: -1;
    box-shadow: inherit;
}
.seal::after{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: -25px;
    height: 50px;
    width: 50px;
    background: red;
    border-radius: 50%;
    z-index: -1;
    box-shadow: inherit;
}
@keyframes move{
    0%{
        top: 0px;
        transform: rotateX(0px);
    }
    20%{
        transform: rotateX(36deg);
    }
    40%{
        transform: rotateX(72deg);
    }
    60%{
        transform: rotateX(108deg);
    }
    80%{
        transform: rotateX(144deg);
    }
    100%{
        top: -129px;
        transform: rotateX(180deg);
    }
}
.page{
    position: absolute;
    top: 0px;
    left: 30px;
    height: 120px;
    width: 320px;
    background: white;
    z-index: 5;
    opacity: 0;
}
#open:checked ~ .page{
    opacity: 1;
    display: block;
    z-index: 99;
    animation: appear 600ms forwards;
    cursor: pointer;
}
@keyframes appear{
    to{
        opacity: 1;
    }
}
#out{
    display: none;
}
#out:checked ~ .page{
    animation: out 900ms ease forwards;
}
@keyframes out {
    from{
        top: 0px;
        height: 120px;
    }
    to{
        top: -164px;
        height: 450px;
        z-index: 1111111111111111111;
    }
}
.message{
    position: absolute;
    top: -124px;
    left: 47px;
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    /*z-index: 1111111111111111111;*/
    width: 300px;
    opacity: 0;
}
#out:checked ~ .message{
    animation: text 1500ms forwards;
}
@keyframes text{
    to{
        opacity: 1;
        z-index: 1111111111111111111;
    }

}
.scale{
    transform-origin: center;
}
@media (max-width: 600px){
    .scale{
        transform: scale(0.75);
    }

    .container{
        top: 50%;
        left: 50%;
    }
}
@media (max-width: 600px){
    .seal{
        transform: rotate(45deg) scale(1.2);
    }

    .page{
        cursor: pointer;
    }
}
@media (max-width: 400px){
    .scale{
        transform: scale(0.65);
    }
}
